build/
build-cross/
bin/*
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.obj
*.exe
*.dll
*.dylib
*.log
logs/
/compile_commands.json
CTestTestfile.cmake
Testing/*
cmake-build-debug/
cmake-build-release/
.cmake/
.idea/
dataset.zip
sp_vision_25
_deps/
thirdparty
.DS_Store
.cache
build-asan/
build-tsan/
build-test/
camera_intrinsic.toml
.claude
CRIT.md
camera_extrinsic.toml
3dparty/foxglove-*.zip
3dparty/*.zip
3dparty/*.tgz
3dparty/tomlplusplus
target/
rateui/target
rateui/.rateui/
$(ALLUSERSPROFILE)
old/
build_agent/
.sisyphus
wust
wust_vision
build_test
build_test_trt
ax650n_bsp_sdk*
record
llvm.sh*
3dparty/*.sha256
3dparty/*.tar.xz
bin
